.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.selected-container {
    max-width: 25%;
    margin: 2% 0 0 2%;
}

.parameters-container {
    max-width: 75%;
    min-width: 50%;
    justify-items: stretch;
    margin: 2% 2% 0 0;
    border: 2px solid #1976d2;
}

